/* fonts */

@font-face {
  font-family: mb;
  src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: mbi;
  src: url('../fonts/Montserrat-BoldItalic.ttf');
}
@font-face {
  font-family: mm;
  src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: mr;
  src: url('../fonts/Montserrat-Regular.ttf');
}


body{
	background-color:white;
	font-family: mr;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
.jumbotron{
	margin: 0 auto;
	border-radius: 0px;
}
.navbar{
	background: white;
}
.navbar .nav-link{
	color: #232323;
	font-family: mr;
	margin-left: 20px;
}
.navbar .dropdown{
	position: static;
	border-radius: 0px;
}
.navbar .dropdown-menu{ 
	width: 100%;
	text-align: right;
	padding: 20px;
	margin: 0 ;
	border-radius: 0px;
	border: 0px solid;
	background: rgb(4, 20 ,36);
	
}
.navbar .dropdown-menu a{
	display: table-cell;
	padding: 20px;
	color: rgb(150, 171, 191);
	transition: all 0.3s;
}
.navbar .dropdown-menu a:hover{
	background: transparent;
	color: white;
}
.navbar .btn{
	border-radius: 20px;
	background: #A93926;
	border: 0px solid white;
	box-shadow: 0px 2px 5px 1px rgba(128, 128, 128, 0.1);
	transition: 0.3s;
	line-height: 1.7;
}
.navbar .btn:hover{
	box-shadow: 0px 0px 5px 3px rgba(128, 128, 128, 0.3);
}





/* slider css */

#section-main{
	margin: 0 auto;
	z-index: -1;
	position: static;
	width: 100%;
	height:470px;
	position: 0px;

	
	background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.swiper-container{
	width: 130%;
	height: 400px;
	position: absolute;
	left: 0;
	margin-left: -200px;
	overflow: hidden;
	margin-top:-30px;
	background-attachment: fixed;
}
.swiper-wrapper{
	-webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center; 
    -ms-flex-align: center;
    align-items: center;
}
.swiper-slide{
	background-color: white;
	padding: 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.13);
	border: 0px solid  #BF592A;

	 
}
 
.swiper-slide .content1{
	width: 100%;
	margin-top:30px;
	background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/cro.jpg');
	padding: 10px;
	color: white;
	font-family: mm;
	background-size:cover; 
	background-position: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
} 

.swiper-slide .content2{
	background: linear-gradient(70deg,rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/br.png');
	padding: 10px;
	color: white;
	font-family: mm;
	background-size:cover;
	background-position: center;
		border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
}

.swiper-slide .content3{
	background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/stat.jpg');
	padding: 10px;
	color: white;
	font-family: mm;
	background-size:cover;
	background-position: center;
		border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}


.swiper-slide .content1,.content2,.content3 h1{
	font-family: mm;
	padding-top:10px;
}
.swiper-slide .content1,.content2,.content3 p{
	margin: 0px;
	padding-left: 10px;
	margin-top: -10px;
	font-family: mr;
	font-size: 13px;
}
.swiper-slide .content-2{
	padding: 20px;
 
}
.swiper-slide .content-2 p{
		font-family: mr;
	font-size: 14px;
}
.swiper-slide .nav-pills a{
	font-size: 12px;
	padding: 5px;
	color: rgb(4, 20 ,36);

}
.swiper-slide .nav-pills .active{
	background: rgb(4, 20 ,36);
	color: white;
}
.swiper-slide  .tab-content li{
	font-size: 13px;
}
.swiper-slide .content-2 h4{ 
		font-family: mm;
	font-size: 16px;
	padding: 3px;
}
.swiper-slide .img  img{
	width: 300px; 
	margin-top: 80px;
	margin-left: 50px;
}
.swiper-slide .content-2 .btn{
	padding: 20px;
	font-family: mr;
	border: 0px solid;
	border-radius: 0px;
	background: #BF592A;

}
.swiper-slide .content-2  #ecrfimg img{
	position: absolute;
	margin-right: px;
	right: 0;
	margin-top: -10px;
	width: 220px;
	
}
 @media (max-width: 1180px) {
	 .swiper-slide .content .title {
		 font-size: 25px;
	}
	 .swiper-slide .content .caption {
		 font-size: 12px;
	}
}
 @media (max-width: 1023px) {
	 .swiper-container {
		 height: 40vw;
	}
	 .swiper-container.swiper-container-coverflow {
		 padding-top: 0;
	}
}
 
#footer{
	background-color: rgb(4, 20 ,36);
	color: white;
	padding: 10px;
} 
#footer ul{
	list-style: none;
}
#footer li{
	font-size: 13px;
}
#footer #bro{
	text-align: left;

	border-radius: 10px;
	padding: 10px;
}
#footer #bro .card{
	
}
#footer #bro img{
	width: 100px;
}
 .cp{
	font-size: 12px;
	 padding-bottom: 0px; ;
	 width: 100%;
	background: rgb(61, 82 ,102);
	 margin: 0px;
	 padding: 1px;
	 color: white
	 
}
#partner img{
 	padding: 10px;
		width: 200px;
}
#partner .card{
	background: white;
	border: 0px solid;
	padding: 10px; 
} 
#partner  img:nth-child(1){
	height: 50px;
}
#contact{
		background:  linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/image40.jpeg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: mb;
	
}
.form{
	font-family: mr;
	color:  rgb(4, 20 ,36);
}
 .form input{
	padding: 15px;
	 border-bottom: 2px solid  rgb(4, 20 ,36);;
}
.form .custom-select{
	padding:px;
	 border-bottom: 2px solid  rgb(4, 20 ,36);;
}
.form textarea{
		padding: 15px;
	 border-bottom: 2px solid  rgb(4, 20 ,36);;
	font-family: mr;
}
.form .btn{
	width: 250px;
	float: right;
	font-family: mm;
	border-radius: ;
	border: 0px solid;
	background:  rgb(4, 20 ,36);;
}
#company{
	background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/image41.jpeg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: mb;
	
}
#bridge{
	background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/br.png');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: mb;
}
#cro{
	background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/cro.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: mb; 
	
}
#stat{
	background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/stat.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: mb;
	
}
#tabs {
	margin-top: -20px;
	padding: 20px;
}
#tabs .nav-tabs{
	

}
.cro .nav-tabs{
		background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/cro.jpg');
	background-size: cover;
	background-attachment: fixed;
}
#tabs  a{
	padding: 15px;
		border-radius: 0px;
	border: 0px solid;
	color: white;
	font-family: mr;
	
}
#tabs  a.active{
	color: rgba(4, 20, 36);
	font-family: mm;
}
#tabs h2{
	padding: 10px;
	border-left: 6px solid #BF592A;
	width: 500px;
	padding-left: 20px;
	color: ;
	font-family: mm;
}
#tabs h4{
	font-weight: 900;
}
#tabs p{
	font-family: mr;
	
}
#tabs #brand-images{
	padding: 20px;
}
#tabs #brand-images .card{
	border: 0px solid;
	margin: 30px;
	padding: 20px;
}
#tabs #organization .card{
	border: 0px solid;
	margin: 10px;
}
#tabs #organization .list-group-item.active{
	background:#BF592A ;
	border: 0px solid;
	border-radius: 0px;
}


@media (min-width: 320px) and (max-width: 480px) { 
	body{
		overflow-x hidden;
	}
	.navbar-brand img{
		width: 200px;
	}
	#section-main{
		width: 100%;
		height: 100%;
		margin: 0px;
	}
	.swiper-container{
		width:100%;
		height: 100%;
		margin: 0px;
		margin-top: -20px;
	}
	.swiper-slide{
		margin-top:;
		width: 320px;
		height: 100%;
	}
	.swiper-slide h1{
		font-size: 25px;
	}
	.swiper-slide p{
		font-size: 10px;
		font-family: mr;
	}
	.swiper-slide h5{
		font-size: 12px;
	}
	.swiper-slide .content-2 p{
		font-size: 12px;
	}
	.swiper-slide .content-2 .lead{
		font-size: 8px;
	}
	.swiper-slide .content-2 li{
		font-size: 9.6px;
	}
	.swiper-slide .content-2 img{
		width: 200px;
		margin-top: 20px;
		margin-left: 40px;
	}
	#company h1{
		font-size: 30px; 
	}
		#cro h1{
		font-size: 30px;  
	}
		#bridge h1{
		font-size: 30px; 
	}
		#contact h1{
		font-size: 30px; 
	}
		#stat h1{
		font-size: 30px; 
	}
		#tabs h2{
		font-size: 20px; 
	}
	
	
	
}