body{
	background-color:;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
		font-family: 'Nanum Gothic', sans-serif;

}
  
.jumbotron{   
	margin: 0 auto;  
	border-radius: 0px;      
} 
.navbar{
	background: rgb(110 ,28 ,30); 
	padding: 15px; 
	font-family: 'Nanum Gothic', sans-serif;
}
.navbar .nav-link{  
	color: white; 
	font-family: 'Nanum Gothic', sans-serif;
	margin-left: 10px; 
	font-weight: 700;
	transition: all 0.3s;
    	opacity: 0.8;
}
.navbar .nav-link:hover{
	opacity: 1;
	font-weight: 900;
}
.navbar .dropdown{
	position: static;
	border-radius: 0px;
}
.navbar .dropdown-menu{ 
	width: 100%; 
	text-align: right;
	padding: 20px; 
	margin: 0 ;
	border-radius: 0px; 
	border: 0px solid;   
	background: rgb(4, 20 ,36);   
	  
}
.navbar .dropdown-menu a{ 
	display: table-cell; 
	padding: 20px;  
	color: rgb(150, 171, 191);
	transition: all 0.3s; 
}  
.navbar .dropdown-menu a:hover{ 
	background: transparent;
	color: white;      
}  
.navbar .i{
    opacity: 0.3;
}
.navbar .btn{   
	border-radius: px;
	background:white ; 
	border: 0px solid white; 
	box-shadow: 0px 2px 5px 1px rgba (128, 128, 128, 0.1);
	transition: 0.3s; 
	line-height: 1.7;  
	color: rgb(110 ,28 ,30);
    opacity: 1;
}
.navbar .btn:hover{ 
	box-shadow: 0px 0px 5px 3px rgba(128, 128, 128, 0.3); 
}  
  
 #frame5{
	background: white;
}  
#frame5 .content-1{
	
	padding: 1px;
			background:  linear-gradient(70deg, rgba(4, 20, 36, 0.55) 50%,rgba(4, 20, 36, 0.55) 50%) ,url('../images/image11.jpg');
	background-size: cover;
    background-position: bottom;
	background-attachment: ; 
}
#frame5 .content-1 h1{
	color: white;
	font-weight: 900;   
	 
}
#frame5 .content-2 .lead{
	font-size: 15px;
}
#frame5 table td{
	padding-top: 5px;
	margin: px;  
} 
#frame5 table td{
	border: 0px solid;
} 
#frame5 table .btn{ 
	border: 2px solid rgb(2 50  ,112 ,107);
	border-radius: 0px;
	background:  rgb(110 ,28 ,30); 
	font-weight: 600; 
    width: 100%;
}
#frame5 .content-2 h4{
	font-weight: 600; 
} 
#frame5 h1 a{
	text-decoration: none;
	color: white;
	font-weight: 900;
}






#frame1{
	background: white;
} 
#frame1 .content-1{
	
	padding: 1px;
			background:  linear-gradient(70deg, rgba(4, 20, 36, 0.55) 50%,rgba(4, 20, 36, 0.55) 50%) ,url('../images/cro.jpg');
	background-size: cover;
	background-attachment: ; 
}
#frame1 .content-1 h1{
	color: white;
	font-weight: 900;   
	 
}
#frame1 .content-2 .lead{
	font-size: 15px;
}
#frame1 table td{
	padding-top: 5px;
	margin: px;  
} 
#frame1 table td{
	border: 0px solid;
} 
#frame1 table .btn{ 
	border: 2px solid rgb(2 50  ,112 ,107);
	border-radius: 0px;
	background:  rgb(110 ,28 ,30); 
	font-weight: 600; 
}
#frame1 .content-2 h4{
	font-weight: 600; 
} 
#frame1 h1 a{
	text-decoration: none;
	color: white;
	font-weight: 900;
}
#frame2 h1 a{
	text-decoration: none;
	color: white;
	font-weight: 900;
}
#frame3 h1 a{
	text-decoration: none;
	color: white;
	font-weight: 900;
}
#frame2{ 
	padding: 1px;
			background:  linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/image41.jpeg');
	background-size: cover;
	color: white; 
}
#frame2 img{ 
	width: 150px;
 
}
#frame2 .content-2 .row{
	margin-top: -30px;
}
#frame2 .content-2 h4{
	padding: 5px;
	background: rgba(0, 0, 0, 0.59);
}
#frame2 .content-2 p{
	font-size: 18px;
}
#frame2 .content-2 .light{
	border-left: 7px solid;
	
}
#frame2 .content-2 .dark{
	border-left: 7px solid #718cff;
	 
}  
#frame3{
	background: white;
}
#frame3 .content-1{
		padding: 1px; 
			background:  linear-gradient(70deg, rgba(4, 20, 36, 0.55) 50%,rgba(4, 20, 36, 0.55) 50%) ,url('../images/image11.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: ;
	color: white; 
	
}
#frame3 .content-2 .row .btn{
		border: 2px solid rgb(250  ,112 ,107);
	border-radius: 0px;
	background:  rgb(110 ,28 ,30); 
	font-weight: 600; 
	color: white;
	padding: 5px;
	font-size: 17px;
	width: 200px;
	margin-top: -10px;
}
#frame3 .content-2  .row p{
	font-size: 17px;
	margin-top: -10px;
	
}
#frame3 table td{
	border: 0px solid; 
}  
#frame4 .content-1{
		padding: 1px; 
			background:  linear-gradient(70deg, rgba(4, 20, 36, 0.55) 50%,rgba(4, 20, 36, 0.55) 50%) ,url('../images/image11.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: ;
	color: white; 
	
}
#frame4 .content-2 p{
	font-size: 15px;
}

#frame4 .btn{
		border: 2px solid rgb(250  ,112 ,107);  
	border-radius: 0px;
	background:  rgb(110 ,28 ,30);  
	font-weight: 600;  
	color: white; 
	padding: 5px; 
	font-size: 17px;
	width: 150px;
	margin-top: -10px;

}
#frame4 .exit .close-2{
	background: black;
	padding: 10px;
	padding-left: 20px;
	text-align: left;
	position: absolute;
	width: 100%;
	left: 0px;
		color: white;
	bottom: -16;
	cursor: pointer;
}
.overlay{
			overflow:;  
	position: fixed;
	height: 100%;
	width: 100%;
	transition: ;
	background: rgba(0, 0, 0, 0.5);
	top: 0;  
	bottom: 0; 
	left: 0; 
	display: ;
	z-index: 9;
} 
.overlay .content{ 
	width: 650px;
	height: 500px;
	background: white;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	overflow: ;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.17);
	border-radius: 0px;
	
	
}
.overlay .content .frame4{
	width: 400px;
	height: 500px;
	background: white;
}
.modal-content{
	border-radius: 0px;
	border: 0px solid;
		box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.17);
}
.modal-content h5{
	font-weight: 900;
} 
.modal-content li{
	list-style: none;
}
footer {
	margin-top: -20px;
}
#footer{
	background-color: rgb(4, 20 ,36);
	color: white;
	padding: 10px;
	position: relative;  
	
} 
#footer h4{
	font-weight: 600;
}
#footer ul{
	list-style: none;
}
#footer li{
	font-size: 13px;
	padding: 5px;
}
#footer #bro{
	text-align: left;

	border-radius: 10px;
	padding: 10px;
}
#footer #bro {
	 background: rgb(61, 82 ,102);
	border-radius: 0px;
}
#footer #bro img{
	width: 100px;
}
 .cp{
	font-size: 12px;
	 padding-bottom: 0px; ;
	 width: 100%;
	background: rgb(61, 82 ,102);
	 margin: 0px;
	 padding: 1px;
	 color: white
	  
}
#partner img{
 	padding: 10px;
		width: 200px;
}
#partner .card{
	background: white;
	border: 0px solid;
	padding: 10px; 
} 
#partner  img:nth-child(1){ 
	height: 50px;
}
.tab-content h2{
	font-weight: 900;
}
#contact{
		background:  linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/image40.jpeg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
	
}
.form{
		font-family: 'Nanum Gothic', sans-serif;
	color:  rgb(4, 20 ,36);
}
 .form input{
	padding: 25px;
	 border-bottom: 2px solid  rgb(4, 20 ,36);
}
.form .custom-select{
			margin: ;
		padding: px;
	 border-bottom: 2px solid  rgb(4, 20 ,36);;
}
.form textarea{
		padding: 25px;
	 border-bottom: 2px solid  rgb(4, 20 ,36);;
		font-family: 'Nanum Gothic', sans-serif;
}
.form .btn{
	width: 250px;
	float: right;
		font-family: 'Nanum Gothic', sans-serif;
	border-radius: ;
	border: 0px solid;
	background:  rgb(4, 20 ,36);;
}
#company{
	background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/image41.jpeg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: ;  
	
} 
#bridge{ 
	background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/br.png');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
}
#bigdata{
	background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/image11.jpg');
	background-size: cover;
    background-position: bottom;
	background-attachment: fixed;
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
}
#cro{
	background: linear-gradient(70deg, rgba(0, 0, 0, 0.75) 50%,rgba(0, 0, 0, 0.75) 50%) ,url('../images/cro.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: 'Nanum Gothic', sans-serif; 
	
}
#stat{
	background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/stat.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
	
}
#tabs  .btn{
	background: transparent;
}
#tabs {
	margin-top: -20px;
	padding: 20px;
} 
 #tabs  .nav-tabs{
	background: white;
	 color: #232323; 
	 padding:10px;
	margin-top: -40px;
	 box-shadow: 0px 3px 5px 3px rgba(128, 128, 128, 0.12);
	 border: 0px solid;
}
.cro .nav-tabs{
		background: linear-gradient(70deg, rgba(4, 20, 36, 0.75) 50%,rgba(4, 20, 36, 0.75) 50%) ,url('../images/cro.jpg');
	background-size: cover;
	background-attachment: fixed;
}
#tabs  a{
	padding: 20px; 
		border-radius: 0px; 
	border: 0px solid;  
	color: rgba(4, 20, 36);
	background: transparent;
		font-family: 'Nanum Gothic', s ans-serif;
	transition: all 0.3s;
	
}
#tabs  a:hover{ 
	background:rgb(61, 82 ,102);
	
		font-family: 'Nanum Gothic', sans-serif;
	border-top: 0px solid white;
	color: white;
}
#tabs h2{
	padding: 10px; 
	background: rgb(61, 82 ,102);
	border-left: 6px solid #BF592A;
	width: 400px;
	padding-left: 20px; 
	color: white;
		font-family: 'Nanum Gothic', sans-serif;
	position: ;
}
#tabs h4{
	font-weight: 900;
}
#tabs p{
		font-family: 'Nanum Gothic', sans-serif;
	
}
#tabs #brand-images{
	padding: 20px;
}
#tabs #brand-images .card{
	border: 0px solid; 
	margin: 30px;
	padding: 20px;
} 
#tabs #organization .card{  
	border: 0px solid;  
	margin: 10px; 
}
#tabs #organization .list-group-item.active{
	background:#BF592A ;
	border: 0px solid;   
	border-radius: 0px;
}

#tabs .info{
	padding: 20px;
	padding-top: 30px;

}
#big-data-partner{
    margin: 20px;
    padding: 20px;
} 
#big-data-partner .card{
    padding: 10px;
    border: 0px solid;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 5px rgba( 159, 159, 159, 0.1 );
    text-align: center;
}
#big-data-partner .card img{
    width: 200px;
    height: 60px;
    text-align: center;
}
@media (min-width: 320px) and (max-width: 480px) { 
	body{
		overflow-x hidden;
	}
	.navbar-brand img{
		width: 200px;
	}
	#section-main{
		width: 100%;
		height: 100%;
		margin: 0px;
	}
	.swiper-container{
		width:100%;
		height: 100%;
		margin: 0px;
		margin-top: -20px;
	}
	#main{
		margin-top:;
		width: 320px;
		height: 100%;
	}
	#main h1{
		font-size: 25px;
	}
	#main p{
		font-size: 10px;
			font-family: 'Nanum Gothic', sans-serif;
	}
	#main h5{
		font-size: 12px;
	}
	#main .content-2 p{
		font-size: 12px;
	}
	#main .content-2 .lead{
		font-size: 8px;
	}
	#main .content-2 li{
		font-size: 9.6px;
	}
	#main .content-2 img{
		width: 200px;
		margin-top: 20px;
		margin-left: 40px;
	}
	#company h1{
		font-size: 30px; 
	}
		#cro h1{
		font-size: 30px;  
	}
		#bridge h1{
		font-size: 30px; 
	}
		#contact h1{
		font-size: 30px; 
	}
		#stat h1{
		font-size: 30px; 
	}
		#tabs h2{
		font-size: 20px; 
	}
	
	
	
}

@media (min-width: 1370px) and (max-width: 1920px){
     
  .flipster--carousel {
    /*    .flipster__item--past .flipster__item__content { 
      transform: translateX(100%) rotateY(-20deg) scale(0.5);
    }*/
    width: 100%;
    margin-top: 20px;
    height: 650px;
    perspective: 1000px;
    opacity: 1;
    overflow: hidden;
  }
	#frames { 
    background-image: url('images/back.png');
    background-size: cover;
    background-attachment: ;
    background-repeat: no-repeat;
  }

  #frames .frame-card {
    background: ;
    width: 900px;
    height: 550px;

    margin: -170px;
        margin-top: 50px;
    border: 2px solid brown;
    border-radius: 0px;
    opacity: 1;
      margin-bottom: 
  }
    #frame1 .content-1 h1{
        padding: 10px;
    }
    #frame2 .content-1 h1{
        padding: 10px;
    }
    #frame3 .content-1 h1{
        padding: 10px;
    }
    #frame1 table .btn{ 
	border: 2px solid rgb(250  ,112 ,107);
	border-radius: 0px;
        padding: 10px;
        width: 300px;
	background:  rgb(110 ,28 ,30); 
	font-weight: 600; 
        text-align: center;
}
    #frame1  .content-2 .lead{
        font-size: 20px;
    }
    #frame2  .content-2 h4{
        padding:  15px;
    }
    #frame3  .content-2 p{
        font-size: 20px;
    }
}
